@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views/**/*.blade.php';

@theme {
    --color-primary: #775a19;
    --color-primary-container: #c5a059;
    --color-background: #fff8f3;
    --color-surface: #ffffff;
    --color-surface-dim: #f5f5dc;
    --color-text-main: #1e1b16;
    --color-text-muted: #4e4639;

    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;

    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
}
